
button {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	height: 22px;
	width: 82px;
	background-image: url(images/upload/button.gif);
}
#container #content #form1 legend {
	padding: 5px;
	margin: auto;
}


label {
	padding: 0px;
	text-align: center;
}



.emsg {
	text-align:left;
	margin-left:30px;
   margin-right:30px;
	color:#666;
	background-repeat: no-repeat;
	padding:5px;
   padding-left:30px;
}

#loader{
   visibility:hidden;
}



#f1_error{
   font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
   font-weight:bold;
   color:#FF0000;
}

#f1_ok{
   font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
   font-weight:bold;
   color:#00FF00;

}

#f1_upload_form {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #666666;
}

#f1_upload_process{
   z-index:100;
   visibility:hidden;
   position:absolute;
   text-align:center;
}